
// 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

//Colors

// Primary

$blue: #3a7bfd;
$Check-Background: linear-gradient #57ddff to #c058f3;
$start:#57ddff;
$end: #c058f3;
//Neutral

//Light Theme

$white: #fafafa;
$light-Purple: #cacde8;
$light-lray: #d2d3db;
$light-d: #9394a5;
$light-Navy : #484b6a;

// Dark Theme

$dark-Nav:#161722;
$dligh-tNav : #25273c;
$dark-Purple: #cacde8;
$dark-hover: #e4e5f1;
$dark-durple: #5c5f7f;
$dark-lurple: #4d5066;
$dark-ddurple: #393a4c;
$dark-Gray: #9394a5;

//Typography

// Body Copy

$type: 18px;
